:root {
    --ecofor-green: #0B3B2E;
    --ecofor-gold: #F0E6C0;
    --text-dark: #333;
    --card-border: #2F5C50;
}

.hero-section {
    width: 100%;
    height: 500px;
    max-width: 1600px;
    margin: 0 auto;
    
    padding: 0; 
    
    background-image: url('/static/core/img/background_img.png'); 
    background-position: center;
    background-repeat: no-repeat;

    background-size: contain;
}

/* Layout Principal */
.main-container {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    gap: 40px;
}

/* Sidebar */
.sidebar {
    width: 250px;
    flex-shrink: 0;
}

.sidebar-title {
    color: var(--ecofor-green);
    margin-bottom: 20px;
    font-weight: bold;
}

.checkbox-container {
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.95rem;
}

/* Grilla de Productos */
.product-grid-section {
    flex-grow: 1;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

/* Tarjeta de Producto */
.product-card {
    border: 1px solid var(--ecofor-green);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background: white;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.product-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.card-image-container {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.card-title {
    font-size: 0.9rem;
    color: var(--text-dark);
    margin: 15px 0;
    font-weight: 500;
}

/* Botones */
.btn-ver, .btn-ver-mas {
    background-color: #EEEae0;
    color: black;
    padding: 8px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn-ver:hover, .btn-ver-mas:hover {
    background-color: var(--ecofor-gold);
}

.load-more-container {
    text-align: center;
    margin-top: 40px;
}

.btn-ver-mas {
    background-color: var(--ecofor-gold);
    padding: 12px 40px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}