{% extends 'core/base.html' %}

{% block title %}Dashboard - Ecofor Market{% endblock %}

{% block content %}
      <a href="{% url 'dashboard' %}" class="btn btn-secondary"

      style="
            display: inline-flex;
            align-items: center;
            gap: 6px;
            text-decoration: none;
            color: #000000b3;
            font-weight: 600;
            margin-bottom: 1rem;
            background-color: aliceblue;
      ">
    ← Volver
    </a>
<div class="container text-center" style="border: 0.5cm solid rgb(6, 65, 6)">
<form method="post">
    {% csrf_token %}
    <div class="container text-align-center" style="background-color: aliceblue;">
        <label style="font-weight: bold; color: black;">Ingrese ID del pedido:</label>
        <input type="number" name="pedido_id" required>
        <button type="submit" style="font-weight: bolder; color: black;">Buscar pedido</button>
        
    </div>
</form>
</div>
{% endblock %}